# Working with JSON Data

**Overall Goal**: To predict whether or not a company will go bankrupt based on several financial indicators.

- This project focuses on acquaring data and have it in a usable format.

In [3]:
import gzip
import json

import pandas as pd
from ucimlrepo import fetch_ucirepo

### Prepare Data

Option 1: Assuming the data was stored in a gzipped file:

In [1]:
def wrangle(filename):
    # Open compressed file and load into a dict
    with gzip.open(filename) as f:
        data= json.load(f)
        
    # convert the data into a pandas DataFrame
    df = pd.DataFrame().from_dict(data["data"]).set_index("company_id")
    
    return df

Option 2: Obatining the data directly from the website archives:

In [9]:
# fetch dataset 
polish_companies_bankruptcy = fetch_ucirepo(id=365) 
  
# data (as pandas dataframes) 
X = polish_companies_bankruptcy.data.features 
y = polish_companies_bankruptcy.data.targets 
  
# metadata 
print(polish_companies_bankruptcy.metadata) 
  
# variable information 
print(polish_companies_bankruptcy.variables)

{'uci_id': 365, 'name': 'Polish Companies Bankruptcy', 'repository_url': 'https://archive.ics.uci.edu/dataset/365/polish+companies+bankruptcy+data', 'data_url': 'https://archive.ics.uci.edu/static/public/365/data.csv', 'abstract': 'The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 10503, 'num_features': 65, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2016, 'last_updated': 'Sat Mar 09 2024', 'dataset_doi': '10.24432/C5F600', 'creators': ['Sebastian Tomczak'], 'intro_paper': {'title': 'Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction', 'authors': 'Maciej Ziȩba, S. Tomczak, Jakub M. Tomczak', 'published_in': 'Expert systems with applications', 'year': 2016, 'url': 'https://www.semanticscholar.org/paper/c0b86d47505223db7e6085c10dd797169a32fa78', 'doi': '10.1016/j.eswa.2016.04.001'}, 'additional_info': {'summary': 'The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS, http://www.securities.com), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.\r\nBasing on the collected data five classification cases were distinguished, that depends on the forecasting period:\r\n- 1stYear â€“ the data contains financial rates from 1st year of the forecasting period and corresponding class label that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.\r\n- 2ndYear â€“ the data contains financial rates from 2nd year of the forecasting period and corresponding class label that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.\r\n- 3rdYear â€“ the data contains financial rates from 3rd year of the forecasting period and corresponding class label that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.\r\n- 4thYear â€“ the data contains financial rates from 4th year of the forecasting period and corresponding class label that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.\r\n- 5thYear â€“ the data contains financial rates from 5th year of the forecasting period and corresponding class label that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'X1\tnet profit / total assets\r\nX2\ttotal liabilities / total assets\r\nX3\tworking capital / total assets\r\nX4\tcurrent assets / short-term liabilities\r\nX5\t[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365\r\nX6\tretained earnings / total assets\r\nX7\tEBIT / total assets\r\nX8\tbook value of equity / total liabilities\r\nX9\tsales / total assets\r\nX10\tequity / total assets\r\nX11\t(gross profit + extraordinary items + financial expenses) / total assets\r\nX12\tgross profit / short-term liabilities\r\nX13\t(gross profit + depreciation) / sales\r\nX14\t(gross profit + interest) / total assets\r\nX15\t(total liabilities * 365) / (gross profit + depreciation)\r\nX16\t(gross profit + depreciation) / total liabilities\r\nX17\ttotal assets / total liabilities\r\nX18\tgross profit / total assets\r\nX19\tgross profit / sales\r\nX20\t(inventory * 365) / sales\r\nX21\tsales (n) / sales (n-1)\r\nX22\tprofit on operating activities / total assets\r\nX23\tnet profit / sales\r\nX24\tgross profit (in 3 years) / total assets\r\nX25\t(equity - share capital) / total assets\r\nX26\t(net profit + depreciation) / total liabilities\r\nX27\tprofit on operating activities / financial expenses\r\nX28\tworking capital / fixed assets\r\nX29\tlogarithm of total assets\r\nX30\t(total liabilities - cash) / sales\r\nX31\t(gross profit + interest) / sales\r\nX32\t(current liabilities * 365) / cost of products sold\r\nX33\toperating expenses / short-term liabilities\r\nX34\toperating expenses / total liabilities\r\nX35\tprofit on sales / total assets\r\nX36\ttotal sales / total assets\r\nX37\t(current assets - inventories) / long-term liabilities\r\nX38\tconstant capital / total assets\r\nX39\tprofit on sales / sales\r\nX40\t(current assets - inventory - receivables) / short-term liabilities\r\nX41\ttotal liabilities / ((profit on operating activities + depreciation) * (12/365))\r\nX42\tprofit on operating activities / sales\r\nX43\trotation receivables + inventory turnover in days\r\nX44\t(receivables * 365) / sales\r\nX45\tnet profit / inventory\r\nX46\t(current assets - inventory) / short-term liabilities\r\nX47\t(inventory * 365) / cost of products sold\r\nX48\tEBITDA (profit on operating activities - depreciation) / total assets\r\nX49\tEBITDA (profit on operating activities - depreciation) / sales\r\nX50\tcurrent assets / total liabilities\r\nX51\tshort-term liabilities / total assets\r\nX52\t(short-term liabilities * 365) / cost of products sold)\r\nX53\tequity / fixed assets\r\nX54\tconstant capital / fixed assets\r\nX55\tworking capital\r\nX56\t(sales - cost of products sold) / sales\r\nX57\t(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)\r\nX58\ttotal costs /total sales\r\nX59\tlong-term liabilities / equity\r\nX60\tsales / inventory\r\nX61\tsales / receivables\r\nX62\t(short-term liabilities *365) / sales\r\nX63\tsales / short-term liabilities\r\nX64\tsales / fixed assets', 'citation': None}}
     name     role        type demographic description units missing_values
0    year  Feature     Integer        None        None  None             no
1      A1  Feature  Continuous        None        None  None             no
2      A2  Feature  Continuous        None        None  None             no
3      A3  Feature  Continuous        None        None  None             no
4      A4  Feature  Continuous        None        None  None            yes
..    ...      ...         ...         ...         ...   ...            ...
61    A61  Feature  Continuous        None        None  None            yes
62    A62  Feature  Continuous        None        None  None             no
63    A63  Feature  Continuous        None        None  None            yes
64    A64  Feature  Continuous        None        None  None            yes
65  class   Target     Integer        None        None  None             no

[66 rows x 7 columns]

In [10]:
# metadata 
print(polish_companies_bankruptcy.metadata)

{'uci_id': 365, 'name': 'Polish Companies Bankruptcy', 'repository_url': 'https://archive.ics.uci.edu/dataset/365/polish+companies+bankruptcy+data', 'data_url': 'https://archive.ics.uci.edu/static/public/365/data.csv', 'abstract': 'The dataset is about bankruptcy prediction of Polish companies.The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 10503, 'num_features': 65, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2016, 'last_updated': 'Sat Mar 09 2024', 'dataset_doi': '10.24432/C5F600', 'creators': ['Sebastian Tomczak'], 'intro_paper': {'title': 'Ensemble boosted trees with synthetic features generation in application to bankruptcy prediction', 'authors': 'Maciej Ziȩba, S. Tomczak, Jakub M. Tomczak', 'published_in': 'Expert systems with applications', 'year': 2016, 'url': 'https://www.semanticscholar.org/paper/c0b86d47505223db7e6085c10dd797169a32fa78', 'doi': '10.1016/j.eswa.2016.04.001'}, 'additional_info': {'summary': 'The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS, http://www.securities.com), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.\r\nBasing on the collected data five classification cases were distinguished, that depends on the forecasting period:\r\n- 1stYear â€“ the data contains financial rates from 1st year of the forecasting period and corresponding class label that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.\r\n- 2ndYear â€“ the data contains financial rates from 2nd year of the forecasting period and corresponding class label that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.\r\n- 3rdYear â€“ the data contains financial rates from 3rd year of the forecasting period and corresponding class label that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.\r\n- 4thYear â€“ the data contains financial rates from 4th year of the forecasting period and corresponding class label that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.\r\n- 5thYear â€“ the data contains financial rates from 5th year of the forecasting period and corresponding class label that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'X1\tnet profit / total assets\r\nX2\ttotal liabilities / total assets\r\nX3\tworking capital / total assets\r\nX4\tcurrent assets / short-term liabilities\r\nX5\t[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365\r\nX6\tretained earnings / total assets\r\nX7\tEBIT / total assets\r\nX8\tbook value of equity / total liabilities\r\nX9\tsales / total assets\r\nX10\tequity / total assets\r\nX11\t(gross profit + extraordinary items + financial expenses) / total assets\r\nX12\tgross profit / short-term liabilities\r\nX13\t(gross profit + depreciation) / sales\r\nX14\t(gross profit + interest) / total assets\r\nX15\t(total liabilities * 365) / (gross profit + depreciation)\r\nX16\t(gross profit + depreciation) / total liabilities\r\nX17\ttotal assets / total liabilities\r\nX18\tgross profit / total assets\r\nX19\tgross profit / sales\r\nX20\t(inventory * 365) / sales\r\nX21\tsales (n) / sales (n-1)\r\nX22\tprofit on operating activities / total assets\r\nX23\tnet profit / sales\r\nX24\tgross profit (in 3 years) / total assets\r\nX25\t(equity - share capital) / total assets\r\nX26\t(net profit + depreciation) / total liabilities\r\nX27\tprofit on operating activities / financial expenses\r\nX28\tworking capital / fixed assets\r\nX29\tlogarithm of total assets\r\nX30\t(total liabilities - cash) / sales\r\nX31\t(gross profit + interest) / sales\r\nX32\t(current liabilities * 365) / cost of products sold\r\nX33\toperating expenses / short-term liabilities\r\nX34\toperating expenses / total liabilities\r\nX35\tprofit on sales / total assets\r\nX36\ttotal sales / total assets\r\nX37\t(current assets - inventories) / long-term liabilities\r\nX38\tconstant capital / total assets\r\nX39\tprofit on sales / sales\r\nX40\t(current assets - inventory - receivables) / short-term liabilities\r\nX41\ttotal liabilities / ((profit on operating activities + depreciation) * (12/365))\r\nX42\tprofit on operating activities / sales\r\nX43\trotation receivables + inventory turnover in days\r\nX44\t(receivables * 365) / sales\r\nX45\tnet profit / inventory\r\nX46\t(current assets - inventory) / short-term liabilities\r\nX47\t(inventory * 365) / cost of products sold\r\nX48\tEBITDA (profit on operating activities - depreciation) / total assets\r\nX49\tEBITDA (profit on operating activities - depreciation) / sales\r\nX50\tcurrent assets / total liabilities\r\nX51\tshort-term liabilities / total assets\r\nX52\t(short-term liabilities * 365) / cost of products sold)\r\nX53\tequity / fixed assets\r\nX54\tconstant capital / fixed assets\r\nX55\tworking capital\r\nX56\t(sales - cost of products sold) / sales\r\nX57\t(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)\r\nX58\ttotal costs /total sales\r\nX59\tlong-term liabilities / equity\r\nX60\tsales / inventory\r\nX61\tsales / receivables\r\nX62\t(short-term liabilities *365) / sales\r\nX63\tsales / short-term liabilities\r\nX64\tsales / fixed assets', 'citation': None}}

In [11]:
y

       class
0          0
1          0
2          0
3          0
4          0
...      ...
43400      1
43401      1
43402      1
43403      1
43404      1

[43405 rows x 1 columns]

In [13]:
X

,year,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A55,A56,A57,A58,A59,A60,A61,A62,A63,A64
0,1,0.200550,0.37951,0.396410,2.04720,32.3510,0.38825,0.249760,1.33050,1.13890,...,348690.00,0.121960,0.397180,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.42770
1,1,0.209120,0.49988,0.472250,1.94470,14.7860,0.00000,0.258340,0.99601,1.69960,...,2304.60,0.121300,0.420020,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.98700
2,1,0.248660,0.69592,0.267130,1.55480,-1.1523,0.00000,0.309060,0.43695,1.30900,...,6332.70,0.241140,0.817740,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.20780
3,1,0.081483,0.30734,0.458790,2.49280,51.9520,0.14988,0.092704,1.86610,1.05710,...,20545.00,0.054015,0.142070,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.54970
4,1,0.187320,0.61323,0.229600,1.40630,-7.3128,0.18732,0.187320,0.63070,1.15590,...,3186.60,0.134850,0.484310,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.89800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43400,5,0.012898,0.70621,0.038857,1.17220,-18.9070,0.00000,0.013981,0.41600,1.67680,...,3599.10,0.020169,0.043904,1.01220,1.259400,13.4720,12.4320,49.117,7.4313,2.27990
43401,5,-0.578050,0.96702,-0.800850,0.16576,-67.3650,-0.57805,-0.578050,-0.40334,0.93979,...,-9242.10,-0.064073,1.482000,1.06410,-0.018084,110.7200,44.7590,81.220,4.4940,5.13050
43402,5,-0.179050,1.25530,-0.275990,0.74554,-120.4400,-0.17905,-0.154930,-0.26018,1.17490,...,-58253.00,0.148880,0.548240,0.85112,-0.522430,9.8526,3.4892,207.870,1.7559,9.95270
43403,5,-0.108860,0.74394,0.015449,1.08780,-17.0030,-0.10886,-0.109180,0.12531,0.84516,...,1107.50,-0.183200,-1.167700,1.18320,6.092400,13.8860,6.0769,83.122,4.3911,0.95575
43404,5,-0.105370,0.53629,-0.045578,0.91478,-56.0680,-0.10537,-0.109940,0.86460,0.95040,...,-425.13,-0.052186,-0.227250,1.05220,0.003196,7.7332,4.7174,136.850,2.6672,2.79270

In [14]:
y

       class
0          0
1          0
2          0
3          0
4          0
...      ...
43400      1
43401      1
43402      1
43403      1
43404      1

[43405 rows x 1 columns]

Option 3: Getting data from csv

In [5]:
df = pd.read_csv("https://archive.ics.uci.edu/static/public/365/data.csv")
df.head()

,year,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A56,A57,A58,A59,A60,A61,A62,A63,A64,class
0,1,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0
1,1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0
2,1,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0
3,1,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0
4,1,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0

In [7]:
df.shape

(43405, 66)